body{
    background-color: black;
}

#landing-header{
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1{
    color: white;
    font-size: 8vh;
    padding-bottom: 5vh;
    font-family: 'Josefin Sans', sans-serif;
}

ul{
    list-style: none;
}

.slideshow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.slideshow li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1){
    background-image: url(https://images.unsplash.com/photo-1494112142672-801c71472ba5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}

.slideshow li:nth-child(2){
    background-image: url(https://images.unsplash.com/photo-1445308394109-4ec2920981b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80);
    animation-delay: 10s;
}

.slideshow li:nth-child(3){
    background-image: url(https://images.unsplash.com/photo-1492648272180-61e45a8d98a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    animation-delay: 20s;
}

.slideshow li:nth-child(4){
    background-image: url(https://images.unsplash.com/photo-1517217451453-818405428795?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    animation-delay: 30s;
}

.slideshow li:nth-child(5){
    background-image: url(https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    animation-delay: 40s;
}

@keyframes imageAnimation{
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10%{
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
}