.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.inline{
    display: inline;
}

.welcome{
    font-family: 'Josefin Sans', sans-serif;
}