nav{
    margin-bottom: 5vh;
}

.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.inline{
    display: inline;
}

.welcome{
    font-family: 'Josefin Sans', sans-serif;
}

.form{
    flex-direction: column;
}

.inputs{
    width: 30%;
    margin: 40px auto;
}

li{
    list-style: none;
}